<nav class="navbar navbar-default">
 
  <div class="nav navbar-header">
    <a class="navbar-brand nav-item" [routerLink]="''">
      Weather Demo
    </a>
    <button type="button"
      class="navbar-toggle hidden-xs-up"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="collapse-area"
      aria-expanded="false"
      aria-label="toggle navigation"
    ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
  </div>
  
<!--  collapsible area-->
  <div id="collapse-area" 
   class="navbar-toggleable-xs collapse navbar-collapse" 
   [ngbCollapse]="isNavbarCollapsed"
   >
   
    <div class="navbar-nav">
      <ul class="navbar-nav nav">
<!--       may want to add resolver to pre-load data here-->
        <li class="nav nav-item"  routerLinkActive="active">
          <a >Link</a></li>
        <li class="nav nav-item"  routerLinkActive="active">
          <a >Link</a></li>
      </ul>
    </div>
    
  </div>
<!--  end collapsible menu-->
  
</nav>