.flex-container{
  display: flex;
}

#wrapper{
  background-color: #eaf0f9;
  padding: 5vw;
  max-width: 75vw;
}

/*header*/
#weather-banner{
  display:flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: #393D43; 
  padding: 3vw;
}

#weather-header-text{
  font-size: 6vw;
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}

#weather-header-img{
  height: 10%;
}


/*today's weather panel*/
#weather-today-panel{
  flex-direction: row;
}

#weather-today-panel > * {
  width: 50%;
  background-color:white;
}

#weather-panel-img{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10%;
  
}

#weather-panel-img > img{
  min-height: 200px;
}

#weather-today-text{
  color: #B7BCC4;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather-today-text > * {  
  line-height: 7.5vw;
}

#weather-panel-high{
  font-size: 8vw;
}

#weather-panel-low{
  font-size: 5vw;
}


/*forecast panel*/
#weather-forecast-panel{
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
}

#weather-forecast-panel > * {
  width: 33%;
  background-color: white;
  margin-top: 0.66%;
}

.forecast-panel-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: Calibri, Helvetica, sans-serif;
}



