
<div id="weather" class="container-fluid" id="wrapper">
     
  <div *ngFor="let today of todayList; let i = index">

    <!-- header banner-->
    <div id="weather-banner" *ngIf="i===0">
        <img id="weather-header-img"
        class="img-responsive"
        [src]="today.weather[0].src" alt=""> 
        <div id="weather-header-text"><span>Local Weather</span></div>
    </div>
    
    <!--large panel for todays weather-->
    <div id="weather-today-panel" class="flex-container" *ngIf="i===0">

      <div id="weather-panel-img"  class="flex-container" >
        <img class="img-responsive"
          [src]="today.weather[0].src" alt="">
      </div>

        <div id="weather-today-text" class="flex-container"  *ngIf="i===0">
          <!--high temp-->
          <div id="weather-panel-high">
            {{ today.main['temp_max'] | celsius | rounddecimal: 1}}&deg;
          </div>
          <!--low temp-->
          <div id="weather-panel-low">
            / {{ today.main['temp_min'] | celsius | rounddecimal: 1 }}&deg;
          </div>
        </div>
        
    </div>
  
  </div> 
   
  <!--  forecast-->
  <div class="flex-container"  id="weather-forecast-panel" >
    <div  *ngFor="let forecast of forecastList; let i = index" >
        <div class="forecast-panel-item">  
          <img class="img-responsive" [src]="forecast.weather[0].src" alt="">
          <span>{{ forecast.day | uppercase }}</span>
        </div>
    </div>
  </div>
     
      
</div><!--   end weather panel-->

  
  
